.wrr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}
section{
    position: absolute;
    width: 99.9vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    /* background-color: red; */
}
.day-mode {
    background-color: #ffffff; /* Background color for day mode */
  }
  
  .night-mode {
    background-color: #181818; /* Background color for night mode */
  }
section span{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background-color: #181818;
    z-index: 5;
    transition: 1.5s;
}
@media (max-width: 900px){
    section span{
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
        background-color: #181818;
    }
}
@media (max-width: 600px){
    section span{
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
        background-color: #181818;
    }
}
section span:hover{
    background-color: #0f0;
    transition: 0s;
}

.daySection::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff,rgb(0, 138, 0),#fff);
    animation: animate 5s linear infinite;
}
.nightSection::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000,#0f0,#000);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
