@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Motserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
body.dark {
  --background-color: #000;
  --text-color: #ffffff;
}
[data-theme="light"] {
  --background-color: white;
  --text-color: black;
  --input-border: lightgray;
  --result-item-bg: #f0f0f0;
  --result-item-selected-bg: #d0d0d0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* z-index: -2; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --Primary-color: #03274b;
  --text-color: white;
  --input-border: gray;
  --result-item-bg: #262626;
  --result-item-selected-bg: #808080;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a7a3a3;
  height: 7px !important;
  border-radius: 15px;
}

.body-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: #a7a3a3;
}

.body-scrollbar::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 15px;
}